$border-color-hover:#666;
$border-color: #e6e6e6;
$border-radius: 4px;
$box-shadow-color:rgba(0,0,0,0.5);
$button-active-bg: #eee;
$button-bg: white;
$button-height: 37px;
$font-color:#606266;
$color: #333;
$font-size: 14px;
$height:38px;
$red:#F1453D;
$input-height:32px;
$button-error: #f54242;
$button-warn:#ffb311;
$button-success: #17cc15;
$button-info: #c2c5cb;
$button-primary: #26acee;

.box-shadow{
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

