$header-dark-1: #13181b;
$header-dark-2:#313639;
$header-dark-3: #42484b;
$header-dark-4: rgba(89, 95, 98, 0.94);
$header-light-3:#fafaf1;


$slider-dark-1: $header-dark-2;
$slider-dark-2: #282828;


$brand1-1:$header-dark-2;

$text1-light:#fafaf1;
$text1-grey: #b4b4b4;
$text1-blue:#0eade8;
$text1-orange: #ffb311;
